#moneyVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.main-img {
    max-width: 400px;
    position: relative;
    z-index: 2;
}

h1, h2, h3, nav, a.btn {
    position: relative;
    z-index: 2;
}
